/* Add this to your CSS file or within a <style> tag */
.card-content {
    opacity: 0;
    transform: translateY(-80px);
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.card-container:hover .card-content {
    opacity: 1;
    transform: translateY(0);


}
.card-container img {
    filter: blur(0.8px);
}

.card-container:hover img {
    filter: blur(0px);
}

